@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600&display=swap');

:root
{
    --main-color: #F26716;
    --main-dark-color: #dd590d;
}

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body 
{
    background: #fff;
    font-family: 'Manrope', sans-serif;
    padding-bottom: 2rem;
}

h1
{
    font-size: 4rem;
    font-weight: 600;
}

p 
{
    margin-top: 15px;
}

#header
{
    margin: 0px;
    width: 100%;
    position: fixed;
    z-index:2;
    background: #fff;
    border-bottom: 1px solid #dcdcdc;
}

ul, #brand, .menu
{
    display: flex;
    align-items: center;
}

ul 
{
    width: 100%;
    justify-content: center;
    list-style:none;
    background: #fff;
    border-bottom: 1px solid #dcdcdc;
}

a
{
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}

.nav li a 
{
    padding: 1rem 1.5rem;
    display:block;
    color: black;
}

.nav li a:hover
{
    color: #a9a9a9;
}

.nav > li 
{
    float: left;
}

.nav li ul
{
    display: none;
    position:absolute;
    min-width: 140px;
}

.nav li:hover > ul
{ 
    display:block;
}

.nav li ul li 
{
    position: relative;
}

.nav li ul li ul 
{ 
    right: -140px;
    top: 0px;
}

button
{
    width: 100%;
    margin: 0px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: all 80ms ease-in-out 0s;
    padding: 24px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}
