@import "estilos.css";

.portada
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 8rem 1rem 4rem 1rem;
}

.portada .texto
{
    flex-shrink: 2;
    font-weight: 600;
}

.portada .imagen
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.portada .imagen img
{
    width: 100%;
}

.portada .texto
{
    z-index: 1;
    position: relative;
    margin: 20px 30px 0px 30px;
    text-align: justify;
}

.portada .texto a
{
    padding-right: 1.4rem;
    color: var(--main-color);
}

.portada .texto img
{
    width: 1rem;
    padding-right: 4px;
}


.portada .btn-group
{
    margin: 1.3rem 0;
    display: flex;
    gap: 1.2rem;
}

#btn-consultar-pedido
{
    background-color: white;
    color: var(--main-color);
    border: 3px solid var(--main-color);
}

#btn-ingresar-pedido:hover
{
    background-color: var(--main-dark-color);
}

#btn-consultar-pedido:hover
{
    color: var(--main-dark-color);
    border-color: var(--main-dark-color);
}

@media  (min-width: 1200px) 
{
    .portada
    {
        flex-direction: row;
        padding: 8rem 4rem 4rem 4rem;
    }
}