@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root
{
    --main-color: #F26716;
    --main-dark-color: #dd590d;
    --main-light-color: #f26716b7;
    --main-lightest-color: #f2671634;
    --lightest-gray-color: #eee; 
}

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body 
{
    background: #fff;
    line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

h1
{
    font-size: 3rem;
    font-weight: 600;
}

h4
{
    font-size: 1.5rem;
    font-weight: 500;
}

a
{
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: black;
}

button
{
    width: 100%;
    margin: 0px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: all 80ms ease-in-out 0s;
    padding: 24px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}
