@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root
{
    --main-color: #F26716;
    --main-dark-color: #dd590d;
    --main-light-color: #f26716b7;
    --main-lightest-color: #f2671634;
    --lightest-gray-color: #eee; 
    --dark-gray-color: #24262b;
}

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body 
{
    line-height: 1.5;
	font-family: 'Poppins', sans-serif;
    background: #fff;
    color: #313131;
}

h1
{
    font-size: 2.6rem;
    font-weight: 600;
}

h4
{
    font-size: 1.4rem;
    font-weight: 500;
}

a
{
    text-decoration: none;
    font-weight: 500;
    font-size: 0.9rem;
    color: #353535;
}

button
{
    width: 100%;
    padding: 24px;
    margin: 0px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 80ms ease-in-out 0s;
}

.btn-principal
{
    border: 1px solid var(--main-color);
    color: white;
    background-color: var(--main-color);
}

.btn-principal:hover
{
    background-color: var(--main-dark-color);
}

.btn-secundario
{
    background-color: white;
    color: var(--main-color);
    border: 3px solid var(--main-color);
}

.btn-secundario:hover
{
    color: var(--main-dark-color);
    border-color: var(--main-dark-color);
}