
.footer
{
    padding: 4rem 2rem 1rem 2rem;
    border-top: 1px solid var(--lightest-gray-color);
    background-color: var(--dark-gray-color);
}

.footer-menu h4
{
    color: white;
    border-bottom: 2px solid var(--main-color);
}

.footer-menu
{
    width: 100%;
    padding: 2rem 0 4rem 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2.5rem;
    border-bottom: 1px solid #bbbbbb4d;
}

.footer-col, .footer-col ul
{
    display: flex;
    flex-direction: column;
}

.footer-col ul 
{
    padding-top: 1rem;
    align-items: flex-start;
}

.footer-col li
{
    list-style: none;
    padding-top: 1rem;
}

.footer-col a
{
    margin-bottom: 1rem;
    font-weight: 300;
    color: #bbb;
    transition: all 0.3s ease;
}

.footer-col a:hover
{
    color: #fff;
    padding-left: 4px;
}

.footer .social-links
{
    padding-top: 2rem;
}

.footer .social-links a
{
    padding: 0.8rem 1rem;
    color: white;
    height: 40px;
	width: 40px;
    border-radius: 50%;
	background-color: #ffffff33;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover
{
	color: #24262b;
	background-color: var(--main-color);
}

.footer .author
{
    text-align: center;
    margin: 2rem auto;
    color: #bbb;
}
